<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="image">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="modal-result"></div>
      </div>
      <div class="modal-footer">
        <div class="btn_wrap">
          <span class="share">Share</span>
             <div class="share-container">
                <i onclick="shareFB()" class="fab fa-facebook-f"></i>
                 <a
       href="https://twitter.com/intent/tweet?text=I%20just%20wrote%20a%20Letter%20to%20Santa"
       data-size="large">
       <i  class="fab fa-twitter"></i></a>
       <a onclick="dlImage()" ><i class="fas fa-file-download"></i></a>
             </div>
         </div>
      </div>
    </div>
  </div>
</div>

<!-- Xmas Wrapper -->
<main class="xmas">
<div class="container">
<div class="d-flex flex-column p-4">
  <h1>Have you been a little bit more naughty than nice this year and need a kick-ass letter to get in Santa’s good graces?</h1>
  <video src="https://media.giphy.com/media/l1L0iPBUx1tmHWwM0/source.mp4" type="video/mp4" autoplay loop></video>
  <h2 class="pt-4">No worries. We got this.</h2>
  <h3 class="pt-2">Let Obviouslee Marketing put that PR spin on your year of debauchery.</h3>
  <p>Together, we’ll craft a letter that will definitely be one that Santa remembers and is sure to get you more than coal (here's hoping).
  To get started, follow the prompts below and answer a couple of simple questions for us.</p>
  <hr/>

  <input type="text" class="form-control  input-lg m-1" id="ONE" placeholder="Enter a name">

  <input type="text" class="form-control  input-lg m-1" id="TWO" placeholder="Enter another name">

  <input type="text" class="form-control  input-lg m-1" id="THREE" placeholder="Enter another name">

  <input type="text" class="form-control  input-lg m-1" id="FOUR" placeholder="Enter another name">

  <input type="text" class="form-control  input-lg m-1" id="FIVE" placeholder="Enter another name">

  <input type="text" class="form-control  input-lg m-1" id="SIX" placeholder="Enter another name">

  <input type="text" class="form-control  input-lg m-1" id="SEVEN" placeholder="Enter another name">

  <input type="text" class="form-control  input-lg m-1" id="EIGHT" placeholder="Enter another name">

  <input type="text" class="form-control  input-lg m-1" id="NINE" placeholder="Enter another name">

  <input type="text" class="form-control  input-lg m-1" id="TEN" placeholder="Enter another name">

  <input type="text" class="form-control  input-lg m-1" id="ELEVEN" placeholder="Enter another name">

  <input type="text" class="form-control  input-lg m-1" id="TWELVE" placeholder="Enter another name">

  <input type="text" class="form-control  input-lg m-1" id="THIRTEEN" placeholder="Enter another name">

  <input type="text" class="form-control  input-lg m-1" id="FOURTEEN" placeholder="Enter another name">

  <input type="text" class="form-control  input-lg m-1" id="FIFTEEN" placeholder="Enter another name">

  <input type="text" class="form-control  input-lg m-1" id="SIXTEEN" placeholder="Enter another name">

  <input type="text" class="form-control  input-lg m-1" id="SEVENTEEN" placeholder="Enter another name">

  <input type="text" class="form-control  input-lg m-1" id="EIGHTEEN" placeholder="Enter another name">

  <input type="text" class="form-control  input-lg m-1" id="NINETEEN" placeholder="Enter another name">

  <input type="text" class="form-control  input-lg m-1" id="TWENTY" placeholder="Enter another name">

  <input type="text" class="form-control  input-lg m-1" id="TWENTYONE" placeholder="Enter another name">

  <input type="text" class="form-control  input-lg m-1" id="TWENTYTWO" placeholder="Enter another name">


  <div class="d-flex">

  <button onclick="generateLetter()" class="btn_wrap" data-toggle="modal" data-target="#exampleModal">Generate My Letter To Santa</button>
  </div>
  <div class="outer">
  <div class="inner">
     <div id="result"></div>
  </div>
</div>
</div>
</div>
</main>
<router-outlet></router-outlet>
