<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="image">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="modal-result"></div>
      </div>
      <div class="modal-footer">
        <div class="btn_wrap">
          <span class="share">Share</span>
             <div class="container">
                <i onclick="shareFB()" class="fab fa-facebook-f"></i>
                 <a
       href="https://twitter.com/intent/tweet?text=I%20just%20wrote%20a%20Letter%20to%20Santa"
       data-size="large">
       <i  class="fab fa-twitter"></i></a>
       <a onclick="dlImage()" ><i class="fas fa-file-download"></i></a>
             </div>
         </div>
      </div>
    </div>
  </div>
</div>
<div class="">
  <h1>Letter to Santa</h1>
  <hr/>

  <input type="text" class="form-control  input-lg" id="plural-noun-1" placeholder="Enter a plural noun">

  <input type="text" class="form-control  input-lg" id="verb" placeholder="Enter a verb ending in -ing">

  <div class="d-flex">

  <button onclick="generateLetter()" class="btn_wrap" data-toggle="modal" data-target="#exampleModal">Generate My Letter To Santa</button>
  </div>
  <div class="outer">
  <div class="inner">
     <div id="result"></div>
  </div>
</div>
</div>
<router-outlet></router-outlet>
