<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="image">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button id="play-btn" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
        <button type="submit" class="close" id="play-btn"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <!-- start story -->
        <div id="story" class="letter">
          <div class="letterHeading text-center">
            <h3>from the desk of</h3>
            <h2><span class="name"></span></h2>
          </div>
          <div>
            <p id="date" class="letterDate">Month Day, Year</p>
            <p>Dear Santa,</p>
            <p>Wow has it been a year already? Time flies! How have you been? How are <span class="one"></span> and <span class="two"></span>? I know that LivePD North Pole episode must have been stressful, but I know the courts will find
              <span class="three"></span> innocent. Santa, I feel you may have received some bad intel on your <span class="four"></span> last December so I wanted to share a few of my triumphs from this year that I know will make me a shoe-in for your
              <span class="five"></span> list. Besides volunteering my time as a <span class="six"></span>, I frequently gave <span class="seven"></span> to that <span class="eight"></span> on the corner near my office. Everyday I set a goal to be
              the best <span class="nine"></span> I could be ('A' for effort, amirite?). I am SO proud that I only <span class="ten"></span>'ed twice this year and my heart goes out to folks like <span class="eleven"></span> who could not stop
              <span class="twelve"></span>'ing. I hope my example inspires them to try harder next year!</p>

            <p>Now that you can see what a good <span class="four"></span> I've been, I have but one small item on my wishlist: a <span class="thirteen"></span>. Santa, I feel blessed. I have so much <span class="fouteen"></span> in my life, but
              let's face it: 2018 has been a year (#fake<span class="fifteen"></span>) and this one little <span class="sixteen"></span> will bring so much to joy to not only me, but my beloved teammates at <span class="seventeen"></span> as well.</p>

            <p>In the words of DJ Khaled, 'I appreciate you.' More than ever, we need a <span class="eighteen"></span>'ing hero like you to deliver <span class="nineteen"></span> all over the world. On December 24th when I get home from the late
              volunteer shift at the <span class="twenty"></span>, I'll be sure to leave out a plate of your favorite <span class="twentyone"></span>'s.</p>
            <p>Warmest regards,</p>
            <div class="letterSignature"><span class="name"></span></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="btn_wrap">
          <span class="share">Share</span>
          <div class="share-container">
            <i onclick="shareFB()" class="fab fa-facebook-f"></i>
            <a href="https://twitter.com/intent/tweet?text=I%20just%20wrote%20a%20Letter%20to%20Santa" data-size="large">
              <i class="fab fa-twitter"></i></a>
            <a onclick="dlImage()"><i class="fas fa-file-download"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Xmas Wrapper -->
<main class="xmas">
  <div class="container">
    <div class="d-flex flex-column p-4">
      <h1>Have you been a little bit more naughty than nice this year and need a kick-ass letter to get in Santa’s good graces?</h1>
      <video src="https://media.giphy.com/media/l1L0iPBUx1tmHWwM0/source.mp4" type="video/mp4" autoplay loop></video>
      <h2 class="pt-4">No worries. We got this.</h2>
      <h3 class="pt-2">Let Obviouslee Marketing put that PR spin on your year of debauchery.</h3>
      <p>Together, we’ll craft a letter that will definitely be one that Santa remembers and is sure to get you more than coal (here's hoping).
        To get started, follow the prompts below and answer a couple of simple questions for us.</p>
      <hr />

      <div id="questions">
        <form role="form" action="">
          <div class="form-group">
            <input id="name" class="form-control name" type="text" placeholder="Your Name" required>
          </div>
          <div class="form-group">
            <input id="one" class="form-control one" type="text" placeholder="A Friend's Name" required>
          </div>
          <div class="form-group">
            <input id="two" class="form-control two" type="text" placeholder="Another Friend's Name" required>
          </div>
          <div class="form-group">
            <input id="three" class="form-control three" type="text" placeholder="Yet Another Friend's Name" required>
          </div>
          <div class="form-group">
            <input id="four" class="form-control four" type="text" placeholder="Four" required>
          </div>
          <div class="form-group">
            <input id="five" class="form-control five" type="text" placeholder="Five" required>
          </div>
          <div class="form-group">
            <input id="six" class="form-control six" type="text" placeholder="Six" required>
          </div>
          <div class="form-group">
            <input id="seven" class="form-control seven" type="text" placeholder="Seven" required>
          </div>
          <div class="form-group">
            <input id="eight" class="form-control eight" type="text" placeholder="Eight" required>
          </div>
          <div class="form-group">
            <input id="nine" class="form-control nine" type="text" placeholder="Nine" required>
          </div>
          <div class="form-group">
            <input id="ten" class="form-control ten" type="text" placeholder="Ten" required>
          </div>
          <div class="form-group">
            <input id="eleven" class="form-control eleven" type="text" placeholder="Eleven" required>
          </div>
          <div class="form-group">
            <input id="twelve" class="form-control twelve" type="text" placeholder="Twelve" required>
          </div>
          <div class="form-group">
            <input id="thirteen" class="form-control thirteen" type="text" placeholder="Thirteen" required>
          </div>
          <div class="form-group">
            <input id="fourteen" class="form-control fourteen" type="text" placeholder="Fourteen" required>
          </div>
          <div class="form-group">
            <input id="fifteen" class="form-control fifteen" type="text" placeholder="Fifteen" required>
          </div>
          <div class="form-group">
            <input id="sixteen" class="form-control sixteen" type="text" placeholder="Sixteen" required>
          </div>
          <div class="form-group">
            <input id="seventeen" class="form-control seventeen" type="text" placeholder="Seventeen" required>
          </div>
          <div class="form-group">
            <input id="eighteen" class="form-control eighteen" type="text" placeholder="Eighteen" required>
          </div>
          <div class="form-group">
            <input id="nineteen" class="form-control nineteen" type="text" placeholder="Nineteen" required>
          </div>
          <div class="form-group">
            <input id="twenty" class="form-control twenty" type="text" placeholder="Twenty" required>
          </div>
          <div class="form-group">
            <input id="twentyone" class="form-control twentyone" type="text" placeholder="Twentyone" required>
          </div>
          <div>
          </div>
        </form>
        <button id="btn-click" type="submit" class="btn_wrap">Generate My Letter To Santa!</button>
        <hr>
      </div>

      <!-- <input type="text" class="form-control  input-lg m-1" id="ONE" placeholder="Enter a name">

  <input type="text" class="form-control  input-lg m-1" id="TWO" placeholder="Enter another name">

  <input type="text" class="form-control  input-lg m-1" id="THREE" placeholder="THREE">

  <input type="text" class="form-control  input-lg m-1" id="FOUR" placeholder="FOUR">

  <input type="text" class="form-control  input-lg m-1" id="FIVE" placeholder="FIVE">

  <input type="text" class="form-control  input-lg m-1" id="SIX" placeholder="SIX">

  <input type="text" class="form-control  input-lg m-1" id="SEVEN" placeholder="SEVEN">

  <input type="text" class="form-control  input-lg m-1" id="EIGHT" placeholder="EIGHT">

  <input type="text" class="form-control  input-lg m-1" id="NINE" placeholder="NINE">

  <input type="text" class="form-control  input-lg m-1" id="TEN" placeholder="TEN">

  <input type="text" class="form-control  input-lg m-1" id="ELEVEN" placeholder="ELEVEN">

  <input type="text" class="form-control  input-lg m-1" id="TWELVE" placeholder="TWELVE">

  <input type="text" class="form-control  input-lg m-1" id="THIRTEEN" placeholder="THIRTEEN">

  <input type="text" class="form-control  input-lg m-1" id="FOURTEEN" placeholder="FOURTEEN">

  <input type="text" class="form-control  input-lg m-1" id="FIFTEEN" placeholder="FIFTEEN">

  <input type="text" class="form-control  input-lg m-1" id="SIXTEEN" placeholder="SIXTEEN">

  <input type="text" class="form-control  input-lg m-1" id="SEVENTEEN" placeholder="SEVENTEEN">

  <input type="text" class="form-control  input-lg m-1" id="EIGHTEEN" placeholder="EIGHTEEN">

  <input type="text" class="form-control  input-lg m-1" id="NINETEEN" placeholder="NINETEEN">

  <input type="text" class="form-control  input-lg m-1" id="TWENTY" placeholder="TWENTY">

  <input type="text" class="form-control  input-lg m-1" id="TWENTYONE" placeholder="TWENTYONE">

  <input type="text" class="form-control  input-lg m-1" id="TWENTYTWO" placeholder="TWENTYTWO">

  <input type="text" class="form-control  input-lg m-1" id="TWENTYTHREE" placeholder="TWENTYTHREE">
 -->

      <!-- <div class="d-flex"> -->

      <!-- <button onclick="generateLetter()" class="btn_wrap" data-toggle="modal" data-target="#exampleModal">Generate My Letter To Santa</button> -->
      <!-- </div> -->
      <div class="outer">
        <div class="inner">
          <div id="result"></div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- Old Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="letter">
          <div class="letterHeading text-center">
            <h3>from the desk of</h3>
            <h2>Name</h2>
          </div>
          <div>
            <p class="letterDate">Month Day, Year</p>
            <p>Dear Santa,</p>
            <p>Wow has it been a year already? Time flies! How have you been? How are ONE and TWO? I know that LivePD North Pole episode must have been stressful, but I know the courts will find THREE innocent. Santa, I feel you may have received some bad intel on your FOUR last December so I wanted to share a few of my triumphs from this year that I know will make me a shoe-in for your FIVE list. Besides volunteering my time as a SIX, I frequently gave SEVEN to that EIGHT on the corner near my office. Everyday I set a goal to be the best NINE I could be ('A' for effort, amirite?).  I am SO proud that I only TEN'ed twice this year and my heart goes out to folks like [firstName lastName of a celebrity, politcal figure, or OMie]ELEVEN who could not stop TWELVE'ing. I hope my example inspires them to try harder next year!</p>
            <p>Now that you can see what a good FOUR I've been, I have but one small item on my wishlist: a THIRTEEN. Santa, I feel blessed. I have so much FOURTEEN in my life, but let's face it: 2018 has been a year (#fakeFIFTEEN) and this one little SIXTEEN will bring so much to joy to not only me, but my beloved teammates at SEVENTEEN as well.</p>
            <p>In the words of DJ Khaled, 'I appreciate you.' More than ever, we need a EIGHTEEN'ing hero like you to deliver NINETEEN all over the world. On December 24th when I get home from the late volunteer shift at the TWENTY, I'll be sure to leave out a plate of your favorite TWENTYONE's.</p>
            <p>Warmest regards,</p>
            <div class="letterSignature">Name</div>
          </div>
        </div>
        <div id="modal-result" class="letter"></div>
          <canvas id="canvas" class="letter"></canvas>
      </div>
      <div class="modal-footer">
        <div class="btn_wrap">
          <span class="share">Share</span>
             <div class="share-container">
                <i onclick="shareFB()" class="fab fa-facebook-f"></i>
                 <a
       href="https://twitter.com/intent/tweet?text=I%20just%20wrote%20a%20Letter%20to%20Santa"
       data-size="large">
       <i  class="fab fa-twitter"></i></a>
       <a onclick="dlImage()" ><i class="fas fa-file-download"></i></a>
             </div>
         </div>
      </div>
    </div>
  </div>
</div> -->

<router-outlet></router-outlet>
